body {
  margin: 0;
}
/* semantic uses negative margins in generic case, but removes
   them when considers grid to be toplevel. which happens to be only body-descentant grids.
   apply this for our case where grid is toplevel but not direct child of body
   */
#app > .ui.grid {
  margin-left: 0% !important;
  margin-right: 0% !important;
}
/* add a feature - having icons on the left */
.ui.vertical.menu .item > i.icon.left {
  float: left;
  margin: 0em 0.5em 0em 0em;
}
/*** END OF SEMANTIC ENCHANCEMENTS */

#main-sidebar {
  max-height: 510px;
/*  overflow-y: auto; */
}
#center-panel {
  position: relative; /* for notifications which use absolute positioning */
  padding-left: 0px; /* reset semantic default padding */
}
#playback-panel {
  margin-top: 0em;
}
.scrollable-area {
  max-height: 510px;
  min-height: 510px; /* needed for notifications to apper correctly */
  overflow-y: auto;
}

.notification {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.notification-inner {
  margin: 0 18px 0 10px;
}
.album-component {
  padding-top: 10px;
  padding-bottom: 10px;
}